{% extends "index.html" %}
{% block conteudo %}
<form  action="{{ url_for('form_pedido') }}" method="post">
    <table>  
        <caption>
            Produtos Cadastrados
        </caption>
        <tr>
            <th scope="col">Produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Valor</th>
            <th scope="col">Adcionar Item</th>
        </tr>
   
        {% for cadastrado in exibe %}
        <tr>
            <td >{{ cadastrado.produto }}</td>
            <td >{{ cadastrado.categoria }}</td>
            <td >{{ cadastrado.valor }}</td>
            <td>
                <input type="checkbox" name="items_selecionados" value="{{ cadastrado._id }}">
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Adcionar Items</button>
</form>  
{% endblock %}
