{% extends "index.html" %}
{% block conteudo %}
<form  action="{{ url_for('incluir_item') }}" method="post">
    <table>  
        <caption>
            Produtos Cadastrados
        </caption>
        <tr>
            <th scope="col">Produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Valor</th>
            <th scope="col">Incluir Items na Comanda</th></th>
        </tr>
   
        {% for cadastrado in exibe %}
        <tr>
            <td >{{ cadastrado.produto }}</td>
            <td >{{ cadastrado.categoria }}</td>
            <td >{{ cadastrado.valor }}</td>
            <td>
                <form action="{{ url_for('incluir_item') }}" method="POST">
                    <input type="hidden" name="item_id" value="{{ cadastrado._id }}">
                    <button type="submit">Incluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>  
{% endblock %}
