<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio Digital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class = "page-header" >
            <a href="{{ url_for('inicio') }}">
                <i class="fas fa-home"> home </i><br>
                <br>
                <i class="fas fa-right-to-bracket"> login  </i><br>
                <br>
                <i class="fas fa-circle-xmark"> logout  </i>
            </a>    
        <h1> {{ titulo }} </h1>

        </div>
    </header>
    <div class="container"> 
        {% with messages = get_flashed_messages() %}
                {% if messages %} 
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        <div>
            {% block conteudo %}  {% endblock  %}
        </div>
    </div>   
</body>
</html>