{% extends "index.html" %}
{% block conteudo %}
    <div class = "inicio">
            <a href = "{{ url_for('cadastrar') }}" >
            <button type="button"> Cadastrar </button>
        </a>
            <a href = "{{ url_for('cadastrados') }}">    
            <button type="button"> Cadastrados </button>
        </a>
            <a href = "{{ url_for('carrinho') }}">
            <button type="button"> Carrinho </button>
        </a>    
            <a href = "{{ url_for('finalizar') }}">
            <button type="button"> Finalizar Pedido </button>
        </a>    
    </div>
{% endblock %}